
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            color: #333;
        }

        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        h1 {
            font-size: 2.5rem;
            color: #007bff;
            margin-bottom: 20px;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        pre {
            background-color: #ffffff;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow-x: auto;
            white-space: pre-wrap;
            line-height: 1.6;
        }

        .author {
            display: flex;
            align-items: center;
            margin-top: 20px;
            padding: 15px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }

        .author img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 7px;
        }
        .author p {
            margin: 0;
            font-weight: 600;
            color: #007bff;
            font-size: 1.2rem;
        }

        .comments-section {
            margin-top: 40px;
        }

        .comments-section h2 {
            color: #ff7f50;
            margin-bottom: 20px;
        }

        form {
            background-color: #fff;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 30px;
        }

        form input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        form button {
            padding: 6px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        form button:hover {
            background-color: #0056b3;
        }

        .comment {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            padding: 5px 5px;
            background-color: #fff;
            border-radius: 8px;
        }

        .comment img {
            width: 34px;
            height: 34px;
            border-radius: 50%;
        }

        .comment pre {
            margin: 0;
            font-size: 1rem;
            color: #333;
        }

        #commentUser{
            background-color: #ffffff;
            border-radius: 8px;
            overflow-x: auto;
            white-space: pre-wrap;
            line-height: 1.6;
            box-shadow: none;
            padding: 0 8px;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 2rem;
            }

            .author {
                flex-direction: column;
                align-items: flex-start;
            }

            .author img {
                margin-bottom: 10px;
            }

            form button {
                width: 100%;
            }
        }

        @media (max-width: 576px) {
            h1 {
                font-size: 1.8rem;
            }
        }